
.benefit__list{
    display: flex;
    list-style: none;
    position: relative;
    &::before{
        border: 7px solid #E5ECF4;
        width: 973px;
        left: 0.5px;
        position: absolute;
        content: '';
    }
}
.benefit__item{
    margin-top: 60px;
    margin-left: 30px;
}
.benefit__item:first-child{
   
    margin-left: 165px;
   
    position: relative;
}
.benefit__item::before{
        background-color:#FCB72B;
        width: 96px;
        margin-top: -100px;
        height: 96px;
        position: absolute;
        border-radius: 50%;
        content: '';

    }
    .benefit__title{
        @include list
    }
    .benefit__text{
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 350px;
        color: #939CAA;
    }
    @media only screen and (max-width:$tablet) {
        
        .benefit__list{
           flex-direction: column;
            margin-left: 0%;
            margin-top: 111px;
            &:before{
                transform: rotate(90deg);
                margin-top: 356px;
                margin-left: -315px;              
            }
        }  
        .benefit__item:first-child{
          margin-left: 232px;
        }
        .benefit__item{
            margin-left: 232px;
            margin-top: 40px;
            &:before{
                margin-top: 10px;
                margin-left: -150px;
            }    
        }
        
    }